In [3]:
import pandas as pd
import numpy as np

In [4]:
test_df = pd.read_csv("test.csv")
train_df = pd.read_csv("train.csv")
sample_submission_df = pd.read_csv("sample_submission.csv")

In [5]:
test_df.head()

,id,age,gender,course,study_hours,class_attendance,internet_access,sleep_hours,sleep_quality,study_method,facility_rating,exam_difficulty
0,630000,24,other,ba,6.85,65.2,yes,5.2,poor,group study,high,easy
1,630001,18,male,diploma,6.61,45.0,no,9.3,poor,coaching,low,easy
2,630002,24,female,b.tech,6.60,98.5,yes,6.2,good,group study,medium,moderate
3,630003,24,male,diploma,3.03,66.3,yes,5.7,average,mixed,medium,moderate
4,630004,20,female,b.tech,2.03,42.4,yes,9.2,average,coaching,low,moderate

In [6]:
train_df.head()

,id,age,gender,course,study_hours,class_attendance,internet_access,sleep_hours,sleep_quality,study_method,facility_rating,exam_difficulty,exam_score
0,0,21,female,b.sc,7.91,98.8,no,4.9,average,online videos,low,easy,78.3
1,1,18,other,diploma,4.95,94.8,yes,4.7,poor,self-study,medium,moderate,46.7
2,2,20,female,b.sc,4.68,92.6,yes,5.8,poor,coaching,high,moderate,99.0
3,3,19,male,b.sc,2.00,49.5,yes,8.3,average,group study,high,moderate,63.9
4,4,23,male,bca,7.65,86.9,yes,9.6,good,self-study,high,easy,100.0

In [7]:
sample_submission_df.head()

       id  exam_score
0  630000           0
1  630001           0
2  630002           0
3  630003           0
4  630004           0

In [8]:
type(train_df)

pandas.core.frame.DataFrame

In [9]:
train_df.columns

Index(['id', 'age', 'gender', 'course', 'study_hours', 'class_attendance',
       'internet_access', 'sleep_hours', 'sleep_quality', 'study_method',
       'facility_rating', 'exam_difficulty', 'exam_score'],
      dtype='object')

In [10]:
train_df.count()

id                  630000
age                 630000
gender              630000
course              630000
study_hours         630000
class_attendance    630000
internet_access     630000
sleep_hours         630000
sleep_quality       630000
study_method        630000
facility_rating     630000
exam_difficulty     630000
exam_score          630000
dtype: int64

In [11]:
train_df[train_df.duplicated(keep=False)]
#no duplicate rows present

Empty DataFrame
Columns: [id, age, gender, course, study_hours, class_attendance, internet_access, sleep_hours, sleep_quality, study_method, facility_rating, exam_difficulty, exam_score]
Index: []

In [12]:
train_df.describe()
#helps describe all the numerical columns

,id,age,study_hours,class_attendance,sleep_hours,exam_score
count,630000.000000,630000.000000,630000.000000,630000.000000,630000.000000,630000.000000
mean,314999.500000,20.545821,4.002337,71.987261,7.072758,62.506672
std,181865.479132,2.260238,2.359880,17.430098,1.744811,18.916884
min,0.000000,17.000000,0.080000,40.600000,4.100000,19.599000
25%,157499.750000,19.000000,1.970000,57.000000,5.600000,48.800000
50%,314999.500000,21.000000,4.000000,72.600000,7.100000,62.600000
75%,472499.250000,23.000000,6.050000,87.200000,8.600000,76.300000
max,629999.000000,24.000000,7.910000,99.400000,9.900000,100.000000

In [13]:
#gender - has 3 categories 
# Balanced Data category in proportion of 1.002 : 1 : 0.989 for (other : male : female)
train_df['gender'].value_counts()

gender
other     211097
male      210593
female    208310
Name: count, dtype: int64

In [14]:
train_df['age'].value_counts()
# age range is from 17-24 
# data is almost in proportion

age
21    86620
23    82872
20    80742
19    78885
24    77111
18    75632
22    74950
17    73188
Name: count, dtype: int64

In [15]:
train_df['course'].value_counts()
# unbalanced classes - diploma data points are very less almost 1/3rd of the b.tech.

course
b.tech     131236
b.sc       111554
b.com      110932
bca         88721
bba         75644
ba          61989
diploma     49924
Name: count, dtype: int64

In [16]:
train_df['internet_access'].value_counts()
#  unbalanced class - yes is 10 times the value of no although intuitively it can be true distribution -- would need to confirm

internet_access
yes    579423
no      50577
Name: count, dtype: int64

In [17]:
train_df['sleep_quality'].value_counts()
#proportionate - distribution

sleep_quality
poor       213675
good       213089
average    203236
Name: count, dtype: int64

In [18]:
train_df['study_method'].value_counts()
#baanced data

study_method
coaching         131697
self-study       131131
mixed            123086
group study      123009
online videos    121077
Name: count, dtype: int64

In [19]:
train_df['facility_rating'].value_counts()
#baanced data
# but question - this is subjective column isnt it?
# should we take this or not?

facility_rating
medium    214082
low       212378
high      203540
Name: count, dtype: int64

In [20]:
train_df['exam_difficulty'].value_counts()
# unbalanced data

exam_difficulty
moderate    353982
easy        176540
hard         99478
Name: count, dtype: int64

In [21]:
# #Results as of now :
# Unbalanced data in columns: internet access, exam difficulty and course. 
# Outliers as such there is None from IQR method. 

# now I need to find the correlation;
# first normalize the columns data and convert it into a numerical from
# I also need to check what is feature selection and how and when to do it.

In [22]:
# First we need to clculate the correlation metrix between all the features and the exam score (target variable)

train_df.head()

,id,age,gender,course,study_hours,class_attendance,internet_access,sleep_hours,sleep_quality,study_method,facility_rating,exam_difficulty,exam_score
0,0,21,female,b.sc,7.91,98.8,no,4.9,average,online videos,low,easy,78.3
1,1,18,other,diploma,4.95,94.8,yes,4.7,poor,self-study,medium,moderate,46.7
2,2,20,female,b.sc,4.68,92.6,yes,5.8,poor,coaching,high,moderate,99.0
3,3,19,male,b.sc,2.00,49.5,yes,8.3,average,group study,high,moderate,63.9
4,4,23,male,bca,7.65,86.9,yes,9.6,good,self-study,high,easy,100.0

In [ ]:
#for correlation matrix df.corr() gives pearon coefficient 
# Conditions for pearson and spearman coefficient - numerical data is required 
# We can also calculate te covariance - but ppearson is always the good alternative.- but it assumes linearity in the relation. 
# 1st calculate the covariance matrix 

# convert all the features to numerical values. 

from sklearn.preprocessing import LabelEncoder

In [28]:
le = LabelEncoder()
train_df['gender_encoder'] = le.fit_transform(train_df['gender'])
train_df['internet_access_encoder'] = le.fit_transform(train_df['internet_access'])
train_df['course_encoder'] = le.fit_transform(train_df['course'])
train_df['sleep_quality_encoder'] = le.fit_transform(train_df['sleep_quality'])
train_df['study_method_encoder'] = le.fit_transform(train_df['study_method'])
train_df['facility_rating_encoder'] = le.fit_transform(train_df['facility_rating'])
train_df['exam_difficulty_encoder'] = le.fit_transform(train_df['exam_difficulty'])

In [29]:
train_df.head()

,id,age,gender,course,study_hours,class_attendance,internet_access,sleep_hours,sleep_quality,study_method,facility_rating,exam_difficulty,exam_score,gender_encoder,internet_access_encoder,course_encoder,sleep_quality_encoder,study_method_encoder,facility_rating_encoder,exam_difficulty_encoder
0,0,21,female,b.sc,7.91,98.8,no,4.9,average,online videos,low,easy,78.3,0,0,1,0,3,1,0
1,1,18,other,diploma,4.95,94.8,yes,4.7,poor,self-study,medium,moderate,46.7,2,1,6,2,4,2,2
2,2,20,female,b.sc,4.68,92.6,yes,5.8,poor,coaching,high,moderate,99.0,0,1,1,2,0,0,2
3,3,19,male,b.sc,2.00,49.5,yes,8.3,average,group study,high,moderate,63.9,1,1,1,0,1,0,2
4,4,23,male,bca,7.65,86.9,yes,9.6,good,self-study,high,easy,100.0,1,1,5,1,4,0,0

In [38]:
#covariance matrix
num_feature_df = train_df[['id', 'gender_encoder', 'course_encoder', 'study_hours', 'class_attendance', 'internet_access_encoder', 'sleep_hours', 'sleep_quality_encoder', 'study_method_encoder', 'facility_rating_encoder', 'exam_difficulty_encoder', 'exam_score']]
cov_matrix_pd = num_feature_df.cov()
target_cov_matrix = cov_matrix_pd[['exam_score']]

In [40]:
target_cov_matrix

                          exam_score
id                       1280.209869
gender_encoder              0.073287
course_encoder              0.140845
study_hours                34.028820
class_attendance          119.014916
internet_access_encoder     0.002299
sleep_hours                 5.525598
sleep_quality_encoder      -1.919327
study_method_encoder       -4.975670
facility_rating_encoder    -1.179604
exam_difficulty_encoder     0.137745
exam_score                357.848506

In [41]:
pearson_corr_matrix = num_feature_df.corr(method='pearson')
print("Pearson Correlation Matrix:")
print(pearson_corr_matrix[['exam_score']])

Pearson Correlation Matrix:
                         exam_score
id                         0.000372
gender_encoder             0.004748
course_encoder             0.003874
study_hours                0.762267
class_attendance           0.360954
internet_access_encoder    0.000447
sleep_hours                0.167410
sleep_quality_encoder     -0.124749
study_method_encoder      -0.183431
facility_rating_encoder   -0.076605
exam_difficulty_encoder    0.008337
exam_score                 1.000000

In [42]:
spearman_corr_matrix = num_feature_df.corr(method='spearman')
print("Spearman Correlation Matrix:")
print(spearman_corr_matrix[['exam_score']])

Spearman Correlation Matrix:
                         exam_score
id                         0.000247
gender_encoder             0.005316
course_encoder             0.003281
study_hours                0.769757
class_attendance           0.351515
internet_access_encoder    0.002793
sleep_hours                0.160048
sleep_quality_encoder     -0.121658
study_method_encoder      -0.176620
facility_rating_encoder   -0.072773
exam_difficulty_encoder    0.006986
exam_score                 1.000000

In [43]:
train_df.count()

id                         630000
age                        630000
gender                     630000
course                     630000
study_hours                630000
class_attendance           630000
internet_access            630000
sleep_hours                630000
sleep_quality              630000
study_method               630000
facility_rating            630000
exam_difficulty            630000
exam_score                 630000
gender_encoder             630000
internet_access_encoder    630000
course_encoder             630000
sleep_quality_encoder      630000
study_method_encoder       630000
facility_rating_encoder    630000
exam_difficulty_encoder    630000
dtype: int64